<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>
<body>

	<% @profileAll.each do |profile| %>
			<p>Name: <%= profile.fname %><p> <br>
			<p>Name: <%= profile.lname %><p> <br>
			<p>Name: <%= profile.birthday %><p> <br>
			<p>Name: <%= profile.email %><p> <br><br>
	<% end %>

	<p>Working</p>

</body>
</html>
